.cart-container{
  display: flex;
  width: 100%;
  height: 100vh;
  .cart-left{
    width: 50%;
    height: 100vh;
    position: sticky;
    display: flex;
    align-items: center;
    flex-direction: column;
    .left-section{
      display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:black;
    width: 90%;
    color: white;
    border-radius: 1rem;
    .item-details{
      .button-container{
        .button{
          border: solid white;
          height: 35px;
          margin-left: 2em;
          margin-right: 2em;
          margin-bottom: 1em;
          color: white;
        }
      }
      
    }
    }
  }
  .cart-right{
    width: 50%;
    height: 100vh;
    position: sticky;
    background-color: black;
    h2{
      color: white;
    }
  }
}