.MuiPaper-root {
    margin-top: 15px;
  }
  .line-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    .button-container {
      color: white !important;
    }
  
    .collection-line{
      width: 100px;
      height: 2px;
      background-color: whitesmoke;
    }
  }