.image-container {
  width: 100%;
  height: 200px;
}
.add-cart {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: black !important;
  border: black solid 1px !important;
  color: white !important;
  width: 100%;
  height: 30px;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  .filter-section {
    margin-top: 90px;
    border-right: gray solid 1px;
    position: fixed;
    float: left;
    width: 30%;
    height: 100vh;

    .divider-container {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .Gender-heading {
      font-weight: 600;
      font-size: large;
    }
    .gender-section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .price-heading {
      font-weight: 600;
      font-size: large;
    }
    .price-section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .sale-heading {
      font-weight: 600;
      font-size: large;
    }
    .sale-section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .category-heading {
      font-weight: 600;
      font-size: large;
    }
    .category-section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .product-list {
    margin-top: 89px;
    height: 100vh;
    float: right !important;
    width: 70%;
    margin-right: 30px;
    .item-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
     
    }

    .item-details {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}
