.nav-conttainer{
   width: 100%;
  position: fixed;
  overflow-y: hidden;
  top: 0;
  
   .app-bar{
      background-color: rgb(11,11,11);
   
      .swooshlogo{
         margin-top: 0.5em;
         width: 75px;
         height: 70px;
      }
      .category-container{
         display: flex;
         
         li{
            a{
               color: white;
               text-decoration: none;
            }
         }
        
      }
      .login-register{
         display: flex;
         li{
            a{
               color: white;
               text-decoration: none;
            }
         }
      }
      .search-bar{
         border-radius:5em
      }
   }
}

